.container{
  width: 40%;
  margin: 7% auto;
}

.tooltip {
  position: relative;
  display: block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  transform: translateX(50%);
  width: 220px;
  background-color: red;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  
}
.first{
  bottom: 50px;
  z-index: 1;
    bottom: 100%;
    left: 10%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}